<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.polychrom.cordova.ActionBarPlugin"
        version="0.2.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:rim="http://www.blackberry.com/ns/widgets">
    <name>ActionBar</name>
    <description>An Android ActionBar plugin for Apache Cordova.</description>
    <license>Modified BSD</license>
    <keywords>cordova,actionbar,android</keywords>

    <repo>https://github.com/shokre/cordova-android-actionbar.git</repo>

    <js-module name="actionbar" src="www/js/actionbar.js">
        <clobbers target="actionbar"/>
    </js-module>

    <asset src="ngCordova/ActionBar.js" target="ngCordova/ActionBar.js"/>

    <!-- android -->
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ActionBar">
                <param name="android-package" value="com.polychrom.cordova.ActionBarPlugin"/>
            </feature>
            <preference name="ShowTitle" value="true" />
        </config-file>
        <edit-config file="AndroidManifest.xml" mode="merge"
                     target="/manifest/application/activity[@android:label='@string/activity_name']">
            <activity android:theme="@android:style/Theme.Holo"/>
        </edit-config>
        <source-file src="src/android/ActionBarPlugin.java" target-dir="src/com/polychrom/cordova"/>
    </platform>
</plugin>
